/* Main.js */

.main-container {
    max-height: 100vh;
}

.carousel-item{
    opacity:0;
    transition: opacity 1s !important;
}

.carousel-item.active{
    opacity:1;
    transition: opacity 1s !important;
}
  
.d-none.d-lg-block,.d-lg-none {
    width:100vw;
    height: auto;
}
  
/* MyApplication.js */
  
.application-block {
    z-index: 1;
    position: fixed;
    bottom: 67px;
    left: 60px;
}
  
/* MyBlog.js */
  
.blog-block {
    z-index: 1;
    position: fixed;
    right: 60px;
    bottom: 67px;
}
  
.card {
    width: fit-content;
    height: fit-content;
    background-color: rgba(249, 244, 244, 0.445); 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
    
/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    margin: 0px 8px;
}
  
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}
  
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}
  
/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}
    
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}
    
.socialSvg {
    width: 17px;
}
  
.socialSvg path {
    fill: rgb(255, 255, 255);
}
    
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@media all and (max-width:1280px) {
    .main-container {
        height: 100vh;
    }
  
    .d-none.d-lg-block,.d-lg-none {
        height: 100vh;
        width: auto;
    }
    
    .application-block {
        left: 60px;
    }
  
    .blog-block {
        right: 60px;
    }

    .card {
        padding: 7px 5px; 
    }
  
    .socialContainer {
        width: 42px;
        height: 42px; 
        margin: 0px 5px;
    }
  
    .socialSvg {
        width: 15px;
    }
}

@media all and (max-width:1024px) and (max-height: 1366px) {
    .application-block {
      left: 50px;
      bottom: 70px;
    }
    
    .blog-block {
      right: 60px;
      bottom: 60px;
    }

    .socialContainer {
      width: 35px;
      height: 35px; 
    }

    .socialSvg {
      width: 12px;
    }
}

@media all and (max-width:1024px) and (max-height: 653px) {
    .application-block {
      bottom: 40px;
    }

    .blog-block {
      right: 60px;
      bottom: 40px;
    }
}

@media all and (max-width: 912px) { 
    .d-none.d-lg-block,.d-lg-none {
      width: 100vw;
      height: auto;
    }
}

@media all and (max-width: 540px) {    
    .application-block {
      left: 30px;
      bottom: 30px;
    }

    .card {
        padding: 5px 4px;
    }
  
    .socialContainer {
        width: 25px;
        height: 25px; 
        margin: 0px 4px;
    }
  
    .socialSvg {
        width: 12px;
    }
  
    .blog-block {
        right: 30px;
        bottom: 30px;
    }
}  

@media all and (max-width: 430px) {

    .d-none.d-lg-block,.d-lg-none {
      height: 100vh;
      width:auto;
     }

    .application-block {
      left: 12px;
    }

    .blog-block {
      right: 12px;
    }
}

@media all and (max-width: 390px) {
    .card {
      padding: 4px 2px;
    }

    .socialContainer {
      margin: 0px 3px;
    }
}
@media all and (max-width: 360px) {
    .application-block {
      left: 8px;
    }

    .blog-block {
      right: 8px;
    }
}