.aboutme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
  
.aboutme-photo-container,.aboutme-text-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.aboutme-photo-mini {
    display: none;
}
  
.btn.center {
    margin-bottom: 10px;
}
  
/* Button down */
.btn-scroll {
    width: 30px;
    height: 50px;
    bottom: 120px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    position: relative;
}
    
.scroll {
    width: 5px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    animation: scroll_4013 1s linear infinite;
    transform: translateY(40%);
    position: absolute;
}
    
.btn-scroll:after {
    content: url("../../assets/Icons/double-down.png");
    position: absolute;
    top: 120%;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
    
@keyframes scroll_4013 {
    0% {
        transform: translateY(40%);
      }
    
    50% {
        transform: translateY(90%);
      }
}
@media all and (max-width:1280px) {
    .aboutme-photo {
        height: 100vh;
    }
}

@media all and (max-width:1024px) and (max-height: 1366px) {
    .aboutme-photo-mini {
        display: block;
        height: 100vh;
    }
  
    .aboutme-photo {
        display: none;
    }
}

@media all and (max-width:1024px) and (max-height: 653px) {
    .aboutme-photo-mini {
        display: none;
    }
  
    .aboutme-photo {
        display: block;
        height: 90vh;
    }
}
@media all and (max-width:1024px) and (max-height: 600px) {
    .aboutme-photo {
       height: 100vh;
    }
}

@media all and (max-width: 912px) { 
    .aboutme-photo-mini {
        display: block;
        height: 1490px;
        width: fit-content;
    }
  
    .aboutme-photo {
        display: none;
    }
}

@media all and (max-width: 853px) {
    .aboutme-photo-container{
        overflow: hidden;
    }
  
    .aboutme-photo-mini {
        height: 1280px;
        width: auto;
    }
}

@media all and (max-width: 820px) {
    .aboutme-photo-mini {
      height: 1190px;
    }
}

@media all and (max-width: 768px) {
    .aboutme-photo-mini {
        height: 1075px;
    }
}

@media all and (max-width: 540px) {
    .aboutme-photo-mini {
        height: 755px;
    }
}

@media all and (max-width: 430px) {
    .aboutme-photo-mini {
        height: 950px;
        margin: 0 0 0 -20%;
    }
}

@media all and (max-width: 414px) {
    .aboutme-photo-mini {
      height: 915px; 
    }
}

@media all and (max-width: 390px) {
    .aboutme-photo-mini {
        height: 850px; 
    }
}

@media all and (max-width: 375px) {
    .aboutme-photo-mini {
        height: 670px; 
    }
}

@media all and (max-width: 360px) {
    .aboutme-photo-mini {
        height: 750px; 
    }
}
    